.sidebar {
  height: 110vh;
  padding-top: 2em;
}
.list-group {
  padding: 1em 0;
}
.list-group .list-group-item {
  border-radius: 0 !important;
}
.list-group li.list-group-item a {
  text-decoration: none;
  color: #6f42c1;
}
abbr {
  padding: 0 5px;
}
.copyright {
  padding-top: 1em;
  font-weight: bold;
  font-size: 12px;
}
.mr {
  margin-right: 1em;
}
@media (max-width: 1024px) {
  .sidebar {
    height: auto;
    width: 100% !important;
  }
  .content {
    width: 100% !important;
  }
}
a.link {
  color: #6f42c1;
}
